html, body {
	height: 100%;
	overflow: auto;
}

.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/logo.png') no-repeat;
	background-size: contain;
	color: transparent;
}



nav.navbar-color {
	padding: 15px 0px;
	background: rgba(95,158,160, 1);
	border: none;
}

nav.navbar-color:hover {
	padding: 15px 0px;
	background: rgba(95,158,160, 1);
  text
}

.divisor{
	width: 1px;
	height: 16px;
	background: rgb(68, 80, 35);
	margin: 16px 10px;
}

.navbar-inverse .navbar-text {
  color: rgb(68, 80, 35);
}
.navbar-inverse .navbar-nav > li > a {
  color: rgb(68, 80, 35);
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: rgb(68, 80, 35);
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: rgb(68, 80, 35);
  background-color: #080808;
}
