html, body {
	height: 100%;
	overflow: auto;
}

.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/logo.png') no-repeat;
	background-size: contain;
	color: transparent;
}



nav.navbar-color {
	padding: 15px 0px;
	background: rgba(143, 187, 189, 1);
	border: none;
}

nav.navbar-color:hover {
	padding: 15px 0px;
	background: rgba(143, 187, 189, 1);
}

.divisor{
	width: 1px;
	height: 16px;
	background: rgb(68, 80, 35);
	margin: 16px 10px;
}

.navbar-color .navbar-nav > li > a {
  color: rgb(68, 80, 35);
}
.navbar-color .navbar-nav > li > a:hover,
.navbar-color .navbar-nav > li > a:focus {
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
